<div class="main-container">
    <div class="title">
        CoreCorners
    </div>
    <div class="chatbox">
        <div #scrollMe [scrollTop]="scrollMe.scrollHeight" class="messages">
            <ng-container *ngFor="let message of messages | async">
                <div class ="message" [ngClass]="{ 'left': message.sentBy === 'bot','right': message.senBy ==='user'}">
                    {{message.content}}                
                </div>
            </ng-container>
        </div>
    </div>

    <div class="input-container">
        <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" placeholder="Type your query.." class="inputtext">
            <button (click)="sendMessage()" class="replyBtn"> 
                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            </button>
    </div>
</div>