.main-container{
    width:24.5rem;
    height:36.3rem;
    max-width: 100rem;
    position: fixed;
    margin: auto;
    right: 1rem;
    bottom: 2rem;
    z-index: 10;
    margin-bottom: 3rem;
    background-color: #5960b2;
    border-radius: 0.5rem;
    animation: fadin 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
.chatbox{
    width:24.5rem;
    height:30rem;
    border: 0.05rem solid #f6f6f6;
    padding: 0.5rem;
    max-width: 100rem;
    margin: auto;
    position: relative;
    border-radius: 0rem;
    margin-bottom: 1%;
    z-index: 10;
    background-image: url("src\assets\img\background\chat_background.jpg");
}

.messages::-webkit-scrollbar {
    display: none;
}
.title{
    display: block;
    background: #5960b2 none repeat scroll 0 0;
    color: #fff;
    width:24.5rem;
    height: 3rem;
    border: none;
    padding: 16px;
    max-width: 100rem;
    margin: auto;
    position: relative;
    z-index: 10;
    margin-top: 1.5%;
    border-radius: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}
.messages{
    height:28.3rem;
    overflow-y: scroll;
    background: #f6f6f6 none repeat scroll 0 0;
    position: relative;
    margin-bottom: 0.05rem;
    background-image: url("src\assets\img\background\chat_background.jpg");
}
.messages .right{
    background: #5960b2 none repeat scroll 0 0;
	border-radius: 1rem;
	font-size: 1rem;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
    max-width: 80%;
    min-width: 20%;
    text-align: left;
    /*width:fit-content; 
    height:fit-content;*/
    float: right;
    margin-left: 20%;
    right: 0px;
    clear: both;
    margin-bottom: 10px;
    animation: fadin 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

.messages .left{
    background: #586069 none repeat scroll 0 0;
	border-radius: 1rem;
	font-size: 1rem;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
    max-width: 80%;
    text-align: left;
    /*width:fit-content; 
    height:fit-content;*/
    float: left;
    margin-right: 20%;
    clear: both;
    margin-bottom: 10px;
    animation: fadin 1s;
    -webkit-animation: fadein 1s; /* Safari and Chrome */
}

.input-container{
    
    height: 3rem;
    margin-left: -9px;
    margin-right: -9px;
    vertical-align: middle;
    padding-top: 6px;
    padding-left: 6px;
   /* border-top: 1px solid #ccc;*/
    position: relative;
    background-color: #5960b2;
    top: 5px;
}
.inputtext{
    width: calc(100% - 100px);
	border: medium none;
	font-size: 1rem;
	min-height: 3rem;
    width: 80%;
    left: auto;
    border-radius: 0.5rem;
    padding: 10px 15px;
    box-sizing: border-box;
    outline: none;
    background-color: #f6f6f6;
}
.input-container button{
    width: 19%;
}
.replyBtn {
	background: #5960b2 none repeat scroll 0 0;
	border: medium none;
	border-radius: 0rem;
	color: #f6f6f6;
	cursor: pointer;
	font-size: 1rem;
	height: 3rem;
	position: absolute;
	/*right: 0;
	top: 4px;
	width: 33px;*/
}
.replyBtn:hover{
    background: #757bc0 none repeat scroll 0 0;   
    /*background: #9794d9 none repeat scroll 0 0;  */
}